<html>
<body>
    <div>List rooms</div>
    <form method="post" action="datefilter">
        <input type="date" name="check_in" placeholder="Check in">
        <input type="date" name="check_out" placeholder="Check out">
        <button type="submit">View</button>
    </form>
    <table>
        <tr>
            <th>Number</th>
            <th>Category</th>
            <th>Price</th>
        </tr>
        {{#rooms}}
        <tr>
            <td>{{numb}}</td>
            <td>{{category}}</td>
            <td>{{price}} $</td>
        </tr>
        {{/rooms}}
    </table>
</body>
</html>